.board {
    display: flex;
    flex-direction: row;
  }
  
  .tracks {
    min-width: 200px;
    min-height: 200px;
  }

    
  .fullscreen {
    position: fixed;  
    z-index: 9999;
    width: 81%;
    height: 614px;
    top: 10px;
    left: 247px;
  }

  .widget-header{
      width: 100%;
  }

  .widget-title{
      float: left;
  }

  .widget-action{
      float: right;
  }

  mat-grid-tile{
      border: 1px solid grey;
      border-radius: 10px;
  }
  