 .grid-container {
    margin: 10px;
  }
  
 .dashboard-card {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  
   .more-button {
    float: right;
    font-size: 2em;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  
   .cdk-drop-list {
    height: 100%;
    width: 100%;
  }
  
  
  /*.cdk-drag-preview {
    box-sizing: border-box;
    opacity: 0.5;
  }
  
  .cdk-drag-animating {
    transition: unset;
  }
  
  .cdk-drag-placeholder {
    display: none;
  }  */


  mat-card {
    position: fixed;
    /* transition: all 1s linear; */
  }
  
  .fullscreen {
    position: fixed;  
    z-index: 9999;
    width: 81%;
    height: 614px;
    top: 10px;
    left: 247px;
  }